.sidebar {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;

  .group {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}
